@page "/teste02"

<h3>Test02</h3>

<button class="btn btn-dark" @onclick="Teste">Clique para testar</button>

@code {
    protected void Teste()
    {
        Console.WriteLine("Botão-click");
    }
}